body{ background:#a71b1f;}
.wrap_storey{ width:100%;  padding-bottom:156.25%; background:url(../images/storey.jpg) no-repeat; background-size:cover; position:relative;} 
.grab{ width:49.2%;left:25.4%; position:absolute; top:9%;}
.crazy{ width:44%;left:28%; position:absolute; top:20%;}
.grab2{ width:48%;left:26%; position:absolute; top:27%;}
.congratulation{ width:20%; position:absolute; left:9%; top:54%;}
.storey_info{ width:36.4%; height:20.4rem; padding:2rem 7.5% 1rem; background:#FFF; box-shadow:inset 0 0 1rem rgba(0,0,0,0.5), 0 0 0.3rem rgba(0,0,0,0.3);font-size:2.4rem; color:#5b5b5b; position:absolute; top:66%; left:24.3%; overflow-y:auto;}
